html, body {
  width: 100%;
  overflow-x: hidden;
}

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .gradient-animate {
  animation: gradientMove 4s ease infinite;
}
  @keyframes gradientFlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animated-gradient {
    background-size: 300% 300%;
    animation: gradientFlow 6s ease infinite;
  }
   @keyframes modalFadeScale {
    0% {
      opacity: 0;
      transform: scale(0.9) translateY(20px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  .modal-animate {
    animation: modalFadeScale 0.4s ease-out forwards;
  }